body{
    height: 100vh;
    background-color: #979797;
}
main{
    width: 50vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3px;
}
a{
    width: 48%;
    text-align: center;
    text-decoration: none;
    border: 1px solid #f2f2f2;
}
a:last-child{
    width: 100%;
}
a:hover{
    transform: scale(1.1);
    background-color: #938585;
}
ul{
    list-style: none;
    padding: 0;
}
@media screen and (max-width:750px) {
    a{
        width: 100%;
    }
}